.info-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 500px;
    border: 2px solid #333;
    background-color: #C5D7F2;
    margin-bottom: 25px;
}

.container {
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    flex-direction: column;
    height: 100vh; /* 화면 전체 높이 */
  }