.mybox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 800px;
    height: 600px;
    border: 2px solid #333;
}

.mycontainer {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 78vh; 
    
  }

.myaddButton{
    margin-top: auto;
    margin-bottom: 5px;
}  