.footer {
    padding: 20px;
    text-align: center;
    background-color: #333;
    color: white;
    height: 30px;
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
}