.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 20px;
  color: #fff;
}

.header-left {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 0 0 20px;
}

.nav-list li {
  margin-right: 20px;
}

.nav-list li a {
  color: #fff;
  text-decoration: none;
}

.header-right {

}
/*버튼 css 위치 위에는 해당 컨테이너, 하단은 로그인 버튼*/
.logout-btn {
  background-color: #555;
  border: none;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
}